# This is our code-style check. We currently allow the following exceptions:
#   - E731: do not assign a lambda expression, use a def
#   - W503: line break before binary operator
#   - E741: do not use variables named 'l', 'O', or 'I'
#   - E203: whitespace before ':'
#   - E266: too many leading '#' for block comment
#   - E501: line too long (TODO: remove this once code has been refactored for other things)
#   - W605: invalid escape sequence
# We also
#   - ignore __init__.py unused import errors
#   - ignore errors on long urls
[flake8]
count = True
max-line-length = 100
statistics = True
ignore = E731,W503,E741,E203,E266,E501,W605
per-file-ignores =
    # ignore unused imports in __init__.py files
    __init__.py:F401
    # ignore long lines in registry.py
    src/dataloaders/sources/registry.py:E501
    # triton and ops files have a lot of unused imports
    # TODO: Remove these flags and clean up
    src/ops/triton/flashmamba.py:F401,F841
    src/models/sequence/rnns/qrnn.py:F401,F841,F821
    src/models/sequence/modules/ssd.py:F401,F841,F821
    src/models/sequence/modules/s4nd.py:F401,F841,F821
    src/models/sequence/modules/lssl.py:F401,F841,F821
    src/models/sequence/modules/h3block.py:F401,F841,F821
    src/models/sequence/kernels/hyena.py:F401,F811
    src/models/sequence/attention/flash.py:F841
    src/models/baselines/nonaka/xresnet.py:F401,F821
    src/models/baselines/lipschitzrnn.py:F821
    src/models/baselines/convnext_timm.py:F821
exclude =
    setup.py
    tests/*
    ^.*https?://.*$  # long urls in comments
    ^.*figure.*$
