# This is our code-style check. We currently allow the following exceptions:
#   - E731: do not assign a lambda expression, use a def
#   - W503: line break before binary operator
#   - E741: do not use variables named 'l', 'O', or 'I'
#   - E203: whitespace before ':'
#   - E266: too many leading '#' for block comment
#   - E501: line too long (TODO: remove this once code has been refactored for other things)
#   - W605: invalid escape sequence
# We also
#   - ignore __init__.py unused import errors
#   - ignore errors on long urls
[flake8]
count = True
max-line-length = 100
statistics = True
ignore = E731,W503,E741,E203,E266,E501,W605
exclude =
    setup.py
    tests/*
    ^.*https?://.*$  # long urls in comments
    ^.*figure.*$
