# Development
# Anchor versions to avoid changes in formatting with new releases.
# NOTE: These versions should match those in .pre-commit-config.yaml
pytest>=8.0.2
pytest-cov>=4.1.0
twine
setuptools
wheel
numpy
isort
ruff
